.BuildControls {
    width: 100%;
    background-color: #cf8f2e;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding: 10px 0;
}

.Price {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding: 15px 30px;
}
