.Logo {
    height: 77%;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.Logo > img {
    height: 100%;
}

@media (max-width: 420px) {
    .Logo {
        padding: 4px;
    }
}
