.NavigationItem {
    display: block;
    width: 100%;
    margin: 10px 0;
}

.NavigationItem a {
    text-decoration: none;
    color: #8f5c2c;
    padding: 16px 10px;
    font-weight: 500;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: #40a4c8;
}

@media (min-width: 501px) {
    .NavigationItem {
        height: 100%;
    }

    .NavigationItem a {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        border-bottom: 4px solid transparent;
    }

    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active {
        background-color: #8f5c2c;
        border-bottom-color: #40a4c8;
        color: #fff;
    }
}
