.Toggler {
    width: 40px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
    box-sizing: border-box;
    cursor: pointer;
}

.Toggler div {
    width: 70%;
    height: 2px;
    background-color: white;
    border-radius: 5px;
}

@media (min-width: 501px) {
    .Toggler {
        display: none;
    }
}

@media (max-width: 420px) {
    .Toggler {
        align-items: flex-start;
        padding: 11px 0;
        padding-left: 4px;
    }
}
